.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 5rem);
	justify-content: space-between;
	row-gap: 0.5rem;
	margin: 1rem auto 0 auto;
}

@media screen and (max-width: 313px) {
	.wrapper {
		justify-content: start;
		column-gap: 0.5rem;
	}
}

@media screen and (max-width: 340px) {
	.wrapper {
		grid-template-columns: repeat(auto-fit, 2.5rem);
	}
}

@media screen and (max-width: 400px) {
	.wrapper {
		grid-template-columns: repeat(auto-fit, 4rem);
	}
}
