.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 4rem);
	justify-content: space-between;
	column-gap: 1rem;
	row-gap: 1rem;
}

@media screen and (max-width: 350px) {
	.wrapper {
		justify-content: start;
	}
}

@media screen and (max-width: 350px) {
	.wrapper {
		column-gap: 0.5rem;
		row-gap: 0.5rem;
	}
}
