@import '../../variables.scss';

.wrapper {
	height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 1.85rem;
}

.name {
	font-family: $fontBold;
	font-size: 32px;
	text-align: center;
	color: $colorWhite;
}

.title {
	font-family: $fontBold;
	font-size: 15px;
	color: $colorWhite;
}

.slide {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	place-items: center;

	& img {
		width: 2.5rem;
		height: 2.5rem;
	}
}

@media screen and (min-width: 768px) {
	// .wrapper {
	// 	margin-top: -4rem;
	// }

	.logo {
		height: calc(1.85rem + 3vw);
	}

	.name {
		font-size: calc(18px + 2vw);
	}

	.title {
		font-size: calc(15px + 0.5vw);
	}

	.slide img {
		width: calc(2.5rem + 0.5vw);
		height: calc(2.5rem + 0.5vw);
	}
}
