@import '../../shared/variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	min-width: 12.5rem;
	max-width: 19.5rem;
	border-radius: 0.5rem;
	transition: all ease-in-out 0.3s;
}

.main_img {
	border-radius: 0.5rem 0.5rem 0 0;
	width: 100%;
	object-fit: contain;
}

.bottom {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.6rem;
}

.title {
	font-family: $fontSemiBold;
	font-size: 18px;
}

.description {
	font-family: $fontMediumItalic;
	font-size: 14px;
	color: $colorPurple;
}

.stack {
	display: flex;
	gap: 0.5rem;

	&_item {
		width: 1.2rem;
		height: 1.2rem;
		background: none;
		object-fit: contain;
	}
}

.links {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	& img {
		display: grid;
		place-content: center;
		width: 1.2rem;
		height: 1.2rem;
		object-fit: contain;
		border-radius: 0;
	}
}

.empty {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 0;
}

@media screen and (min-width: 1200px) {
	.wrapper {
		&:hover {
			transform: scale(1.05);
		}
	}
}
