@import '../../../variables.scss';

.trigger_button {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: grid;
	place-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: $colorWhite;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	cursor: pointer;

	&_logo {
		width: 1rem;
		fill: $colorOrange;
	}
}

.link {
	position: fixed;
	bottom: 1.2rem;
	right: 4.5rem;
	font-size: 16px;
	color: $colorWhite;
	cursor: pointer;
	z-index: 3;
}

.language {
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	display: grid;
	place-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: $colorWhite;
	cursor: pointer;

	&_logo {
		width: 1rem;
		fill: $colorOrange;
	}
}

.theme {
	position: fixed;
	bottom: 6rem;
	right: 1rem;
	display: grid;
	place-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: $colorWhite;
	cursor: pointer;

	&_logo {
		width: 1rem;
		fill: $colorOrange;
	}
}
