@import '../variables.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20vh;
	flex-grow: 1;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&_error {
		color: $colorWhite;
		font-size: 35px;
	}

	&_not_found {
		color: $colorWhite;
		font-size: 25px;
	}
}

.links {
	display: flex;
	align-items: center;

	gap: 1rem;
	&_link {
		color: $colorWhite;
		font-size: 16px;
		border-bottom: solid 0.1rem $colorOrange;

		&:hover {
			color: $colorOrange;
			border-bottom: solid 0.1rem $colorWhite;
		}
	}

	& span {
		color: $colorWhite;
	}
}
