@import '../variables.scss';

.projects {
	display: grid;
	place-content: center;
	grid-template-columns: repeat(auto-fill);
	flex: 1;
	gap: 2rem;
	width: 80%;
	margin: 2rem auto 0 auto;
}

.active {
	border: solid 0.1rem $colorWhite !important;
}
