@import '../../variables.scss';

.wrapper {
	margin: 4rem 0 2rem 0;
}

.title {
	font-family: $fontSemiBold;
	font-size: 18px;
	color: $colorWhite;
}

.lign {
	display: block;
	width: 11.2rem;
	height: 0.05rem;
	background-color: $colorWhite;
}
