@use "../../../styles/export" as imported;

.wrapper {
  margin: 0 auto;
}

.title {
  margin: 2rem auto;
  text-align: center;
}

@media screen and (min-width: imported.$desktopBreakpoint) {
  .wrapper {
    margin: 4rem auto 4rem auto;
  }

  .title {
    margin: 4rem auto;
  }
}
