.lign {
	margin-top: 0rem !important;
}

.socials {
	display: flex;
	justify-content: space-between;

	&_logo {
		width: 2.5rem;
		height: 2.5rem;
	}
}

@media screen and (min-width: 768px) {
	.socials {
		justify-content: flex-start;
		gap: 2rem;
	}
}
