@use "../../../styles/export" as imported;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0rem auto 8rem auto;
}

.title {
  display: none;
}

.stackWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4.2rem);
  justify-content: space-around;
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}


.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &_text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}


@media screen and (min-width: 550px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: imported.$desktopBreakpoint) {
  .wrapper {
    gap: 4rem;
  }

  .stack {
    column-gap: 1.5rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 4.5rem);
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &_text {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1000px) {
  .title {
    display: block;
  }
  .stack {
    column-gap: 1.5rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, 5.5rem);
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact {
    flex-direction: row-reverse;
    justify-content: flex-end;

    &_text {
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 2rem;
    }
  }
}
