@use "../../../../../styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 0.25rem;
  width: 4.2rem;
}

.img {
  $size: 1.5rem;
  width: $size;
  height: $size;
  object-fit: contain;
}

.text {
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: $desktopBreakpoint) {
  .wrapper {
    width: 5.5rem;
    gap: 0.5rem;
  }

  .img {
    $size: calc(1.5rem + 1vw);
    width: $size;
    height: $size;
  }

  .text {
    font-size: calc(18px + 0.1vw);
  }
}
