@font-face {
	font-family: Poppins-Medium;
	src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Semi-Bold;
	src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Poppins-Medium-Italic;
	src: url('./assets/fonts/Poppins-MediumItalic.ttf');
}

$fontMedium: Poppins-Medium;
$fontSemiBold: Poppins-Semi-Bold;
$fontMediumItalic: Poppins-Medium-Italic;

$colorWhite: #ffffff;
$colorLightGrey: #808dc3;
$colorGrey: #3b3c48;
$colorDarkGrey: #2d3246;
$colorBlack: #1d1e27;
