@import '../../style/variables.scss';

.wrapper {
	margin: 2.5rem auto;
	padding: 0.625em 0.8em;
	border: solid 0.1rem $colorOrange;
	border-radius: 0.25rem;
	font-size: 16px;
	cursor: pointer;
}

@media screen and (min-width: 768) {
	.wrapper {
		margin: 4rem;
	}
}
