@import '../../shared/style/variables.scss';

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.img {
	display: flex;
	width: 100%;
	max-width: 15rem;
	max-height: 15rem;
}

.text_wrapper {
	font-family: $fontLight;
	font-size: 16px;

	& > p:nth-child(1) {
		margin-top: 0;
	}
}

.text {
	margin-bottom: 1rem;
}

@media screen and (min-width: 375px) {
	.img {
		width: 100%;
		margin: 0 auto 1rem auto;
	}
}

@media screen and (min-width: 800px) {
	.wrapper {
		display: flex;
		flex-wrap: nowrap;
		gap: 2rem;
	}

	.img {
		width: 100%;
		height: auto;
	}

	.text {
		font-size: 16px;
	}
}
