@import '../../shared/style/variables.scss';

.wrapper {
	margin: 4rem 0 1.5rem 0;
}

.title {
	font-family: $fontSemiBold;
	font-size: 18px;
}

.lign {
	display: block;
	width: 11.2rem;
	height: 0.05rem;
}

@media screen and (min-width: 768px) {
	.title {
		font-size: calc(18px + 0.1vw);
	}

	.wrapper {
		margin-top: 8rem;
	}
}
