@use "../styles/export" as imported;

.wrapper {
  width: 100%;
  height: imported.$footerHeightMobile;
  background-color: imported.$colorBlack;
}

.container {
  @include imported.container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 100%;
  padding: 2rem 0;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &_logo {
    display: flex;
    align-self: center;
    width: 1.2rem;
    height: 1.2rem;
  }

  &_text {
    color: imported.$colorWhite;
    font-size: 16px;
  }
}

.shoutOut {
  display: flex;
  justify-content: center;
  color: imported.$colorGrey;
  font-family: imported.$fontLight;
  font-size: 14px;

  &_text {
    font-family: imported.$fontMedium;
  }

  &_link {
    @extend .shoutOut_text;

    &:hover {
      color: imported.$colorPurple !important;
    }
  }
}

@media screen and (min-width: imported.$desktopBreakpoint) {
  .wrapper {
    height: imported.$footerHeightDesktop;
  }

  .links {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
  }
}
